


<div class="hero-unit top">
  <div class="container">
   <div class="hero-unit top2">
   <h1 class="tag">Find the books you need from other Students.  Save Your money for Keggers.  </h1>
   </div>
 </div>
</div>

<div class="hero-unit middle">
   <div class="container">
     <div class="hero-unit top3">
       <%= form_tag("/search", :method => "get") do %>
           <%= label_tag(:q, "Book Search:") %>
           <%= text_field_tag(:q) %>
           <%= submit_tag("search") %>
         <% end %>
     </div>
   </div>
</div>

<div class="hero-unit top">
  <div class="container">
   <div class="hero-unit top2">

   </div>
 </div>
</div>
