<h1>Update your mobile number</h1>

<p> Please enter your mobile number</p>

<%= bootstrap_form_for @user do %>
  <%= label_tag :mobile_number, "Your 10-digit mobile number" %>
  <%= text_field_tag :mobile_number, maxlength: 10 %>
  <%= label_tag :mobile_number, "4085551212" %>
<% end %>
