<h1>Update your mobile number</h1>

<p> Please enter your mobile number</p>

<%= bootstrap_form_for @user do |f| %>
  <%= f.label :mobile_number, "Your 10-digit mobile number" %>
  <%= f.text_field :mobile_number, "", size: 10 %>
  <%= label_tag :mobile_number, "4085551212" %>
<% end %>
